@model Tribal.SkillsFundingAgency.ProviderPortal.Models.ContentListViewModel
@{
    ViewBag.Title = AppGlobal.Language.GetText(this, "Title", "Manage Content");
}

<h2>@AppGlobal.Language.GetText(this, "Header", "Manage Content")</h2>
<hr/>

<div class="site-content">
    <div class="col-md-12 btn-toolbar">
        @Html.ActionLink(AppGlobal.Language.GetText(this, "Archived", "View archived content"), "Archived", "SiteContent", null, new {@class = "pull-right btn btn-default"})
        @Html.ActionLink(AppGlobal.Language.GetText(this, "Create", "Create new page"), "Create", "SiteContent", null, new {@class = "pull-right btn btn-default"})
    </div>
</div>

@Html.Raw(AppGlobal.Language.GetText(this, "TableHeader", ""))
@Html.Partial("_ContentListPartial", Model)
