@model Tribal.SkillsFundingAgency.ProviderPortal.Models.AdminReportMasterViewModel
@{
    ViewBag.Title = AppGlobal.Language.GetText(this, "Title", "Organisations Only");
}

<h2>@AppGlobal.Language.GetText(this, "Header", "Organisations Only")</h2>
<hr/>
@Html.Raw(AppGlobal.Language.GetText(this, "TableHeader", "<p>The table below shows the current traffic light status for all Organisations on the Course Directory. Use the 'Search' box to filter the table, and the arrows at the top of the columns to sort it. Use the buttons on the top right of the table to copy to your clipboard, save in comma separated values (CSV) format, save in Microsoft Excel format or print.<p>"))

<table class="dataTable dt-responsive table table-striped table-bordered" data-ajax="@Url.Action("OrganisationsJson")" data-created-row="rowCreated" data-name-index="5">
    <thead>
        <tr>
            <th scope="col" class="all" data-type="enum-traffic">
                @Html.DisplayNameFor(m => m.Items.First().Status)
            </th>
            <th scope="col" class="none">
                @Html.DisplayNameFor(m => m.Items.First().ProviderId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.Items.First().Ukprn)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.Items.First().IsContractingBody)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.Items.First().ProviderTypeName)
            </th>
            <th scope="col" class="all">
                @Html.DisplayNameFor(m => m.Items.First().ProviderName)
            </th>
            <th scope="col" class="none">
                @Html.DisplayNameFor(m => m.Items.First().ProviderNameAlias)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.Items.First().LegalName)
            </th>
            <th scope="col" data-type="date-eu" class="none">
                @Html.DisplayNameFor(m => m.Items.First().LastProvisionUpdate)
            </th>
            <th scope="col" class="none" data-type="enum-method">
                @Html.DisplayNameFor(m => m.Items.First().ApplicationName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.Items.First().PrimaryContacts)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td class="@item.StatusCssClass">
                    @Html.DisplayFor(m => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ProviderId)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Ukprn)
                </td>
                <td>
                    @(item.IsContractingBody
                          ? AppGlobal.Language.GetText(this, "IsContractingBody", "Yes")
                          : AppGlobal.Language.GetText(this, "IsNotContractingBody", "No"))
                </td>
                <td>
                    @Html.DisplayFor(m => item.ProviderTypeName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ProviderName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ProviderNameAlias)
                </td>
                <td>
                    @Html.DisplayFor(m => item.LegalName)
                </td>
                <td>
                    @*@Html.DisplayFor(m => item.ModifiedDateTimeUtc)*@
                    @AppGlobal.Language.GetText(this, "NotApplicable", "N/A")
                </td>
                <td>
                    @*@Html.DisplayFor(m => item.ApplicationName)*@
                    @AppGlobal.Language.GetText(this, "PortalApplication", "Portal")
                </td>
                <td>
                    @foreach (var contact in item.PrimaryContacts)
                    {
                        @Html.DisplayFor(m => contact)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Html.Partial("_AdminReportsScript")
}
