@using Tribal.SkillsFundingAgency.ProviderPortal.Entities
@model Tribal.SkillsFundingAgency.ProviderPortal.Models.AddEditApprenticeshipQAForStyleModel
@{
    Layout = null;
}
@using (Html.BeginForm("QAForStyleFromDialog", "Apprenticeship", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.EditableDataValidationSummary(false)

        @Html.RequiredFields(new {@class = "col-md-offset-3"})
        @Html.HiddenFor(model => model.ApprenticeshipQAStyleId)
        @Html.HiddenFor(model => model.ApprenticeshipId)

        <div class="form-group">
            @Html.LanguageLabelFor(model => model.QAStyleFailureReasons, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @foreach (QAStyleFailureReason fr in Model.QAStyleFailureReasons)
                {
                    <input id="@fr.QAStyleFailureReasonId" title="@fr.Description" type="checkbox" name="SelectedStyleFailureReasons" value="@fr.QAStyleFailureReasonId" @(Model.SelectedStyleFailureReasons.Contains(fr.QAStyleFailureReasonId) ? "checked" : "")/>
                    <label for="@fr.QAStyleFailureReasonId" title="@fr.Description" style="font-weight: normal;">@fr.Description</label>
                    <br/>
                }
                @Html.ValidationMessageFor(model => model.QAStyleFailureReasons)
            </div>
        </div>

        <div class="form-group">
            @Html.LanguageLabelFor(model => model.Passed, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.Passed, (SelectList) ViewBag.YesNo, AppGlobal.Language.GetText(this, "PleaseSelect", "Please Select"), new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Passed)
            </div>
        </div>

        <div class="form-group">
            @Html.LanguageLabelFor(m => m.DetailsOfQA, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.DetailsOfQA, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DetailsOfQA)
            </div>
        </div>

        <div style="clear: both;"></div>

    </div>

    <script>
        $('.modal-dialog .glyphicon-question-sign').tooltip({ placement: "auto" });
    </script>
}