@model Tribal.SkillsFundingAgency.ProviderPortal.Models.ResetPasswordViewModel
@{
    ViewBag.Title = Model.EmailConfirmation
        ? AppGlobal.Language.GetText(this, "TitleConfirm", "Confirm email and set password")
        : AppGlobal.Language.GetText(this, "TitleReset", "Reset password");
}

<h2>@(Model.EmailConfirmation
        ? AppGlobal.Language.GetText(this, "HeaderConfirm", "Confirm email and set password")
        : AppGlobal.Language.GetText(this, "HeaderReset", "Reset password"))</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@(Model.EmailConfirmation 
        ? AppGlobal.Language.GetText(this, "FormHeader", "Set your password.")
        : AppGlobal.Language.GetText(this, "FormHeader", "Reset your password."))</h4>
    <hr />
    @Html.EditableDataValidationSummary("", new { @class = "text-danger" })
    @Html.RequiredFields(new {@class = "col-md-offset-2"})
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model => model.EmailConfirmation)
    <div class="form-group">
        @Html.LanguageLabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete="off" })
        </div>
    </div>
    <div class="form-group">
        @Html.LanguageLabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete="off"  })
        </div>
    </div>
    <div class="form-group">
        @Html.LanguageLabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete="off" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@AppGlobal.Language.GetText(this, "Submit", "Set Password")" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
