@model Tribal.SkillsFundingAgency.ProviderPortal.Models.BulkUploadHistoryDetailViewModel
<div class="form-group col-md-12 sidebar">
    <div class="form-horizontal form-group">
        <div>
            <div class="col-md-2">@Html.DisplayNameFor(model => model.FileName)</div>
            <div class="col-md-10">@Html.DisplayFor(model => model.FileName)</div>
        </div>

        <div>
            <div class="col-md-2">@Html.DisplayNameFor(model => model.UserName)</div>
            <div class="col-md-10">@Html.DisplayFor(model => model.UserName)</div>
        </div>

        <div>
            <div class="col-md-2">@Html.DisplayNameFor(model => model.UploadedDateTime)</div>
            <div class="col-md-10">@Html.DisplayFor(model => model.UploadedDateTime)</div>
        </div>

        <div>
            <div class="col-md-2">@Html.DisplayNameFor(model => model.UploadStatusText)</div>
            <div class="col-md-10">@Html.DisplayFor(model => model.UploadStatusText)</div>
        </div>
    </div>
</div>